body {
  background-color: black;
}

.wave {
  display: inline-block;
  animation: wave-animation 2.5s infinite;
  transform-origin: 70% 70%; /* Ponto de rotação no 'pulso' da mão */
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* Acena para um lado */
  20% {
    transform: rotate(-8deg);
  } /* Acena para o outro */
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Para um pouco */
  100% {
    transform: rotate(0deg);
  }
}
